<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Add Disease Form</title>
  </head>

  <body>
    <form
      action="/adm_view_disease"
      method="get"
      enctype="multipart/form-data"
      name="form1"
      id="form1"
    >
      <table width="479" height="168" border="1">
        <tr>
          <td width="85">
            <em><strong>Name</strong></em>
          </td>
          <td width="378">
            <label for="textfield"></label>
            <input
              name="edit_disease_name"
              type="text"
              id="textfield"
              size="60"
              value="{{val['name']}}"
            />
          </td>
        </tr>
        <tr>
          <td>
            <em><strong>Image</strong></em>
          </td>
          <td>
            <label for="fileField"></label>
            <input
              type="file"
              name="edit_disease_image"
              id="fileField"
              value="{{val['image']}}"
            />
            <!-- <img src="{{val['image']}}" alt="image" /> -->
          </td>
        </tr>
        <tr>
          <td>
            <em><strong>Description</strong></em>
          </td>
          <td>
            <label for="textarea"></label>
            <textarea
              name="edit_disease_description"
              id="textarea"
              cols="60"
              rows="5"
            >
{{val['descriptions']}}</textarea
            >
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div align="center">
              <input type="submit" name="button" id="button" value="UPDATE" />
            </div>
          </td>
        </tr>
      </table>
    </form>
  </body>
</html>
