<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Login Form</title>
  </head>

  <body>
    <form id="form1" name="form1" method="post" action="/adm_login_post">
      <table width="237" border="1">
        <tr>
          <td width="77">
            <em><strong>Username</strong></em>
          </td>
          <td width="144">
            <label for="textfield8"></label>
            <input type="text" name="login_name" id="textfield8" />
          </td>
        </tr>
        <tr>
          <td>
            <em><strong>Password</strong></em>
          </td>
          <td>
            <label for="textfield9"></label>
            <input type="password" name="login_password" id="textfield9" />
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div align="center">
              <input type="submit" name="button" id="button" value="login" />
            </div>
          </td>
        </tr>
      </table>
    </form>
  </body>
</html>
