{% extends"admin/index.html" %} {% block body %}

<form id="form1" name="form1" method="post" action="/adm_view_doctor_post">
  <table class="table table-hover">
    <tr>
      <!-- <th colspan="3">Enter Your Search Text</th> -->
      <td height="33" colspan="6">
        <label for="textfield"></label>
        <div align="center">
          <input
            class="form-control"
            name="doctor_search_name"
            type="text"
            id="textfield"
            placeholder="Enter Your Search Text"
            required
          />
        </div>
      </td>
      <td colspan="2">
        <input
          type="submit"
          class="btn btn-outline-primary"
          name="button"
          id="button"
          value="Search"
        />
      </td>
    </tr>
    <tr>
      <th width="40" height="44">
        <div align="center">
          <em><strong>slno</strong></em>
        </div>
      </th>
      <th width="130">
        <div align="center">
          <em><strong>Name</strong></em>
        </div>
      </th>
      <th width="134">
        <div align="center">
          <em><strong>Gender</strong></em>
        </div>
      </th>
      <!-- <th width="141">
        <div align="center">
          <em><strong>Qualification</strong></em>
        </div>
      </th> -->
      <th width="155">
        <div align="center">
          <em><strong>Qualification & Experience</strong></em>
        </div>
      </th>
      <!-- <td width="153">
            <div align="center">
              <em><strong>Image</strong></em>
            </div>
          </td> -->
      <th width="153">
        <div align="center">
          <em><strong>Address</strong></em>
        </div>
      </th>
      <td width="138">
        <div align="center">
          <em><strong>Contact Info</strong></em>
        </div>
      </td>
      <!-- <th width="132">
        <div align="center">
          <em><strong>Contact</strong></em>
        </div>
      </th> -->
      <th width="55">&nbsp;</th>
    </tr>
    {%for i in val%}
    <tr align="center" class="text-styling">
      <td>{{loop.index}}</td>
      <td>
        {{i['name']}}<br /><br />
        <img src="{{i['image']}}" alt="image" height="100" width="100" />
      </td>
      <td>{{i['gender']}}</td>
      <td>
        {{i['qualification']}}<br />
        {{i['experience']}}
      </td>
      <!-- <td></td> -->
      <td>{{i['place']}},{{i['post']}},{{i['pin']}}</td>

      <td>
        {{i['email']}}<br />
        {{i['contact']}}
      </td>
      <td>
        <p align="center">
          <em
            ><strong
              ><a
                href="/adm_edit_doctor/{{i['doctor_id']}}"
                class="btn btn-outline-primary"
                >Edit</a
              ></strong
            ></em
          >
        </p>
        <p align="center">
          <em
            ><strong
              ><a
                onclick="return msg()"
                href="/adm_delete_doctor/{{ i['doctor_id'] }}"
                class="btn btn-outline-danger"
                >Delete</a
              ></strong
            ></em
          >
        </p>
      </td>
    </tr>
    {%endfor%}
  </table>
</form>
<script type="text/javascript" language="JavaScript">
  function msg() {
    var flag = true;
    var a = confirm("wants to delete");
    if (a == true) {
      flag = true;
    } else {
      flag = false;
    }
    return flag;
  }
</script>

{% endblock %}
