{% extends"admin/index.html" %} {% block body %}

<form id="form1" name="form1" method="post" action="/adm_view_user_post">
  <table class="table table-hover">
    <tr>
      <td height="34" colspan="5">
        <label for="textfield"></label>
        <div align="right">
          <input
            type="text"
            name="user_search_name"
            id="textfield"
            class="form-control"
          />
        </div>
      </td>
      <td>
        <input
          type="submit"
          name="button"
          id="button"
          value="Search"
          class="btn btn-outline-primary"
        />
      </td>
    </tr>
    <tr>
      <th width="39" height="61">
        <div align="center">
          <em><strong>slno</strong></em>
        </div>
      </th>
      <th width="132">
        <div align="center">
          <em><strong>Name</strong></em>
        </div>
      </th>
      <th width="146">
        <p align="center">
          <em><strong>Gender </strong></em>
        </p>
        <p align="center">
          <em><strong>Date_of_Birth</strong></em>
        </p>
      </th>
      <th width="148">
        <div align="center">
          <em><strong>Address</strong></em>
        </div>
      </th>
      <th width="152">
        <div align="center">
          <em><strong>Email</strong></em>
        </div>
      </th>
      <th width="154">
        <div align="center">
          <em><strong>Contact</strong></em>
        </div>
      </th>
    </tr>
    {%for i in val%}
    <tr align="center">
      <td height="58">{{loop.index}}</td>
      <td>{{i['name']}}</td>
      <td>
        {{i['gender']}}<br />
        {{i['date_of_birth']}}
      </td>
      <td>{{i['place']}},{{i['post']}},{{i['pin']}}</td>
      <td>{{i['email']}}</td>
      <td>{{i['contact']}}</td>
    </tr>
    {%endfor%}
  </table>
</form>

{% endblock %}
