{% extends"doctor/home.html" %} {% block body %}

<body>
  <form
    id="form1"
    name="form1"
    method="post"
    action="/doctor_change_password_post"
  >
    <table class="table table-hover">
      <tr>
        <td width="77">
          <em><strong>Current Password</strong></em>
        </td>
        <td width="144">
          <label for="textfield8"></label>
          <input
            type="password"
            name="current_password"
            id="textfield8"
            class="form-control"
            required
          />
        </td>
      </tr>
      <tr>
        <td>
          <em><strong>New Password</strong></em>
        </td>
        <td>
          <label for="textfield9"></label>
          <input
            type="password"
            name="new_password"
            id="textfield9"
            class="form-control"
            required
          />
        </td>
      </tr>
      <tr>
        <td>
          <em><strong>Confirm Password</strong></em>
        </td>
        <td>
          <label for="textfield9"></label>
          <input
            type="password"
            name="confirm_password"
            id="textfield9"
            class="form-control"
            required
          />
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div align="center">
            <input
              type="submit"
              name="button"
              id="button"
              class="btn btn-outline-primary"
              value="Login"
            />
          </div>
        </td>
      </tr>
    </table>
  </form>
</body>
{% endblock %}
