{% extends"doctor/home.html" %} {% block body %}

<body>
  <form
    action="/doctor_view_profile_post"
    method="post"
    enctype="multipart/form-data"
    name="form1"
    id="form1"
  >
    <div>
      <img
        src="{{val['image']}}"
        alt="image"
        height="150px"
        width="150px"
        class="profile_pic"
      />
      <br />
      <label
        class="btn btn-outline-danger"
        style="margin-bottom: 10px; margin-left: 5px"
      >
        Upload
        <input
          type="file"
          class="form-control account-settings-fileinput"
          name="edit_doctor_image"
          id="fileField"
          value="{{val['image']}}"
        />
      </label>
    </div>

    <table class="table table-hover">
      <tr>
        <td width="97">
          <em><strong>Name</strong></em>
        </td>
        <td colspan="2">
          <label for="textfield6"></label>
          <input
            name="edit_doctor_name"
            type="text"
            id="textfield6"
            class="form-control"
            size="50"
            value="{{val['name']}}"
          />
        </td>
      </tr>
      <tr>
        <td>
          <em><strong>Gender</strong></em>
        </td>

        <td width="140">
          {%if val['gender']=='m'%}
          <input
            type="radio"
            name="edit_doctor_gender"
            id="radio"
            value="m"
            checked="checked"
          />
          <label for="radio"
            ><strong><em>M</em></strong></label
          ><br />
          <input type="radio" name="edit_doctor_gender" id="radio" value="f" />
          <label for="radio"
            ><strong><em>F</em></strong></label
          >
          <!-- -------------------------- -->

          {%endif%} {%if val['gender']=='f'%}
          <input
            type="radio"
            name="edit_doctor_gender"
            id="radio"
            value="f"
            checked="checked"
          />
          <em
            ><strong>
              <label for="radio">F</label>
            </strong> </em
          ><br />
          <input type="radio" name="edit_doctor_gender" id="radio" value="m" />
          <em
            ><strong>
              <label for="radio">M</label>
            </strong>
          </em>

          {%endif%}
        </td>
      </tr>
      <tr>
        <td>
          <em><strong>Qualification</strong></em>
        </td>
        <td colspan="2">
          <label for="textfield12"></label>
          <input
            name="edit_doctor_qualification"
            type="text"
            id="textfield12"
            size="50"
            class="form-control"
            value="{{val['qualification']}}"
          />
        </td>
      </tr>
      <tr>
        <td>
          <em><strong>Experience</strong></em>
        </td>
        <td colspan="2">
          <label for="textfield13"></label>
          <input
            name="edit_doctor_experience"
            type="text"
            class="form-control"
            id="textfield13"
            size="50"
            value="{{val['experience']}}"
          />
        </td>
      </tr>
      <!-- <tr>
        <td>
          <em><strong>Image</strong></em>
        </td>
        <td colspan="2">
          <label for="fileField"></label>
          <input
            type="file"
            class="form-control"
            name="edit_doctor_image"
            id="fileField"
            value="{{val['image']}}"
          />
        </td>
      </tr> -->
      <tr>
        <td>
          <em><strong>Place</strong></em>
        </td>
        <td colspan="2">
          <label for="textfield14"></label>
          <input
            name="edit_doctor_place"
            type="text"
            class="form-control"
            id="textfield14"
            size="50"
            value="{{val['place']}}"
          />
        </td>
      </tr>
      <tr>
        <td>
          <em><strong>Post</strong></em>
        </td>
        <td colspan="2">
          <label for="textfield16"></label>
          <input
            name="edit_doctor_post"
            type="text"
            class="form-control"
            id="textfield16"
            size="50"
            value="{{val['post']}}"
          />
        </td>
      </tr>
      <tr>
        <td>
          <em><strong>PIN</strong></em>
        </td>
        <td colspan="2">
          <label for="textfield17"></label>
          <input
            name="edit_doctor_pin"
            type="text"
            class="form-control"
            id="textfield17"
            size="50"
            value="{{val['pin']}}"
          />
        </td>
      </tr>
      <tr>
        <td>
          <em><strong>Email</strong></em>
        </td>
        <td colspan="2">
          <label for="textfield18"></label>

          <input
            name="edit_doctor_email"
            type="text"
            id="textfield18"
            class="form-control"
            size="50"
            value="{{val['email']}}"
          />
        </td>
      </tr>
      <tr>
        <td>
          <em><strong>Contact</strong></em>
        </td>
        <td colspan="2">
          <label for="textfield19"></label>
          <input
            name="edit_doctor_contact"
            type="text"
            class="form-control"
            id="textfield19"
            size="50"
            value="{{val['contact']}}"
          />
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <div align="center">
            <input
              type="submit"
              name="button"
              id="button"
              class="btn btn-outline-primary"
              value="UPDATE"
            />
          </div>
        </td>
      </tr>
    </table>
  </form>
</body>
{% endblock %}
