{% extends"doctor/home.html" %} {% block body %}
<body>
  <form
    id="form1"
    name="form1"
    method="post"
    action="/doctor_view_schedule_post"
  >
    <table class="table table-hover">
      <tr>
        <td>
          <input
            name="search_from_date"
            type="date"
            class="form-control"
            id="textfield"
            required
            placeholder="from date"
          />
        </td>
        <td>
          <input
            name="search_to_date"
            type="date"
            class="form-control"
            id="textfield"
            required
            placeholder="to date"
          />
        </td>
        <td>
          <input
            type="submit"
            name="button"
            id="button"
            class="btn btn-primary"
            value="search"
          />
        </td>
      </tr>
    </table>
    <table class="table table-hover">
      <tr>
        <td width="115" height="36"><div align="center">From</div></td>
        <td width="134"><div align="center">To</div></td>
        <td width="146"><div align="center">Date</div></td>
        <td width="125">&nbsp;</td>
      </tr>
      {%for i in val%}
      <tr align="center">
        <td height="61">{{i['from_time']}}</td>

        <td>{{i['to_time']}}</td>
        <td>{{i['date']}}</td>
        <td>
          <p align="center">
            <a
              href="/doctor_edit_schedule/{{i['schedule_id']}}"
              class="btn btn-primary"
              >Edit</a
            >
          </p>
          <p align="center">
            <a
              href="/doctor_delete_schedule/{{i['schedule_id']}}"
              class="btn btn-danger"
              >Delete</a
            >
          </p>
        </td>
      </tr>
      {%endfor%}
    </table>
  </form>
</body>
{% endblock %}
