{% extends"doctor/home.html" %} {% block body %}

<body>
  <form
    id="form1"
    name="form1"
    method="post"
    action="/doctor_edit_schedule_post"
  >
    <table class="table table-hover">
      <tr>
        <td width="122">From Time</td>
        <td width="251">
          <label for="textfield2"></label>
          <input
            name="from_time"
            type="time"
            class="form-control"
            id="textfield2"
            size="35"
            value="{{val['from_time']}}"
          />
        </td>
      </tr>
      <tr>
        <td>To Time</td>
        <td>
          <label for="textfield3"></label>
          <input
            name="to_time"
            type="time"
            class="form-control"
            id="textfield3"
            size="35"
            value="{{val['to_time']}}"
          />
        </td>
      </tr>
      <tr>
        <td>Date</td>
        <td>
          <label for="textfield4"></label>
          <input
            name="date"
            type="date"
            class="form-control"
            id="textfield4"
            size="35"
            value="{{val['date']}}"
          />
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div align="center">
            <input
              type="submit"
              name="button"
              id="button"
              class="btn btn-primary"
              value="Update Schedule"
            />
          </div>
        </td>
      </tr>
    </table>
  </form>
</body>
{% endblock %}
