{% extends"doctor/home.html" %} {% block body %}
<body>
  <form id="form1" name="form1" method="post" action="/doctor_view_user_post">
    <table class="table table-hover">
      <tr>
        <td>
          <input
            type="text"
            name="user_search_name"
            class="form-control"
            id="textfield"
            placeholder="Enter Your Search Text"
          />
        </td>
        <td>
          <input
            type="submit"
            name="button"
            id="button"
            class="btn btn-primary"
            value="Search"
          />
        </td>
      </tr>
    </table>
    <table class="table table-hover">
      <tr>
        <td width="39" height="61">
          <div align="center">
            <em><strong>slno</strong></em>
          </div>
        </td>
        <td width="132">
          <div align="center">
            <em><strong>Name</strong></em>
          </div>
        </td>
        <td width="146">
          <p align="center">
            <em><strong>Gender </strong></em>
          </p>
          <p align="center">
            <em><strong>Date_of_Birth</strong></em>
          </p>
        </td>
        <td width="148">
          <div align="center">
            <em><strong>Address</strong></em>
          </div>
        </td>
        <td width="152">
          <div align="center">
            <em><strong>Contact Details</strong></em>
          </div>
        </td>
        <!-- <td width="154">
          <div align="center">
            <em><strong>Contact</strong></em>
          </div>
        </td> -->
        <td width="154">
          <div align="center">
            <em><strong></strong></em>
          </div>
        </td>
      </tr>
      {%for i in val%}
      <tr align="center">
        <td height="58">{{loop.index}}</td>
        <td>{{i['name']}}</td>
        <td>
          {{i['gender']}}<br />
          {{i['date_of_birth']}}
        </td>
        <td>{{i['place']}}<br />{{i['post']}}<br />{{i['pin']}}</td>
        <td>{{i['email']}} {{i['contact']}}</td>
        <td>
          <a
            href="/doctor_chat/{{i['login_id']}}/{{ i['name']}}"
            class="btn btn-danger"
            >Chat Now</a
          >
        </td>
      </tr>
      {%endfor%}
    </table>
  </form>
</body>
{% endblock %}
